@import "../../../constants/variables.scss";

.shiny-dress {
  width: 558px;
  min-height: 340px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 20px auto;

  @media (max-width: 620px) {
    width: 100%;
  }

  img {
    width: 50%;
    height: 100%;
    object-fit: cover;

    @media (max-width: 400px) {
      display: none;
    }
  }

  .content {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0px 20px 60px;

    @media (max-width: 400px) {
      width: 100%;
      padding: 20px;
    }

    .badge {
      width: 93px;
      height: 32px;
      background-color: $lightgrey;
      display: grid;
      place-items: center;
      border-radius: 8px;

      p {
        font-family: "MuliBold";
        font-size: 14px;
        color: $purple;
        margin-bottom: 3px;
      }
    }

    .name {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .card-title {
      color: $purple;
    }
  }
}
