* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PlayfairBold";
  src: url(./assets/fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: "PlayfairRegular";
  src: url(./assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairMedium";
  src: url(./assets/fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "PlayfairSemiBold";
  src: url(./assets/fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: "MuliBold";
  src: url(./assets/fonts/Muli-Bold.ttf);
}

@font-face {
  font-family: "MuliSemiBold";
  src: url(./assets/fonts/Muli-SemiBold.ttf);
}

@font-face {
  font-family: "MuliRegular";
  src: url(./assets/fonts/Muli.ttf);
}

@import "./constants/variables.scss";

html {
  font-size: 16px;
}

body {
  font-family: "PlayfairRegular";
  background-color: #f6f6f6;
}

.wrapper {
  padding: 0 80px;

  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
}
